@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Yeseva+One&display=swap");

@layer base {
	html {
		/* font-family: "Josefin Sans", sans-serif; */
		/* font-family: "Yeseva One", cursive; */
		scroll-behavior: smooth;
		scroll-padding-top: var(--header-height, 5rem);
	}

	/* hamburger */
	.hamburger-btn .line {
		transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
		transform-origin: center;
	}

	.hamburger-btn[aria-expanded="true"] .line {
		transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
	}

	.hamburger-btn[aria-expanded="true"] :is(.top, .bottom) {
		y: 45;
	}

	.hamburger-btn[aria-expanded="true"] .top {
		rotate: 45deg;
	}

	.hamburger-btn[aria-expanded="true"] .middle {
		opacity: 0;
	}

	.hamburger-btn[aria-expanded="true"] .bottom {
		rotate: -45deg;
	}

	.navbar {
		transition: grid-template-rows 300ms ease-in-out, padding-block 300ms ease-in-out;
	}

	.navbar.opened {
		@apply grid-rows-[1fr];
		padding-block: 1rem;
	}

	.nav-link {
		@apply text-[1.1rem] font-bold transition-[color] duration-[0.3s] ease-[ease-in-out] relative scroll-mt-20 text-primary text-lg;
	}

	.nav-link.active,
	.nav-link:hover,
	.nav-link:focus {
		@apply text-accent;
	}

	.nav-link::after {
		@apply content-[""] block h-[5px] absolute bottom-[-0.5rem] origin-left transition-transform duration-[250ms] ease-[ease-in-out] scale-x-0 scale-y-100 inset-x-0  bg-accent;
	}

	.nav-link:hover::after,
	.nav-link:focus::after {
		@apply scale-100;
	}

	.browser-mockup {
		border-top: 2em solid rgba(100, 100, 100, 0.7);
		position: relative;
		@apply h-auto md:h-[60vh];
	}

	.browser-mockup:before {
		display: block;
		position: absolute;
		content: "";
		top: -1.25em;
		left: 1em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50%;
		background-color: #f44;
		box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
	}

	.browser-mockup > * {
		display: block;
	}

	.html {
		@apply text-red;
	}

	.html.open {
		@apply before:content-['<'] before:text-primary;
	}

	.html.close {
		@apply after:content-['>'] after:text-primary;
	}

	.html.slash {
		@apply before:content-["</"] before:text-primary;
	}

	.html.slash-close {
		@apply after:content-["/>"] after:text-primary;
	}

	.arrows {
		width: 60px;
		height: 72px;
		position: absolute;
		left: 50%;
		margin-left: -30px;
		bottom: 20px;
	}

	.arrows path {
		stroke: #2994d1;
		fill: transparent;
		stroke-width: 1px;
		animation: arrow 2s infinite;
		-webkit-animation: arrow 2s infinite;
	}

	@keyframes arrow {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
		80% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	@-webkit-keyframes arrow /*Safari and Chrome*/ {
		0% {
			opacity: 0;
		}
		40% {
			opacity: 1;
		}
		80% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	.arrows path.a1 {
		animation-delay: -1s;
		-webkit-animation-delay: -1s; /* Safari 和 Chrome */
	}

	.arrows path.a2 {
		animation-delay: -0.5s;
		-webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
	}

	.arrows path.a3 {
		animation-delay: 0s;
		-webkit-animation-delay: 0s; /* Safari 和 Chrome */
	}

	@media(prefers-reduced-motion) {
		.animate-opacity-show {
			animation: none;
		}
	}
}
